//- layout.pug
doctype html 
html
  head
    title Riya Dance Academy 
    block scripts 
    block style 
  body
  
    <nav id="navbar" class="top">
      <ul>
      div#logo
              img(src="/static/logo.png")
              

      <li><a href="/">Home</a></li>
      <li><a href="/">About</a></li>
      <li><a href="/">Services</a></li>
      <li><a href="/Contact">Contact us</a></li>
      <li><a href="/">Class info</a></li>
      </ul>
    </nav>
      
      block content 
      
    
    <footer id="footer">
      |Copyright© 2019 RiyaDanceAcademy.com | All rights reserved 
    </footer>